body	{
	background-color: #f4f4f4;
	color: #555;
	font-family: "Adobe Naskh",sans-serif;
	margin: auto;
}

.container	{
			width: 90%;
			margin: auto;
			overflow: hidden;
}

#main-header{
	background-image:url('../images/wing.jpg');
	background-position:top ;
		font-size:25px; 
			color:navy ;	
}
#navbar{

	color:green;
	text-align: right;

}	
#navbar ul{

	list-style: none;
	


}

#navbar li{
	display: inline;


}
#navbar a{
	color:green;
	text-decoration: none;
	font-size: 30px;
	padding-right: 55px;
}
#showcase{
	background-image:url('../images/wing.jpg');
	background-position:center  ;
	min-height:300px;
	text-align: center;
	margin-bottom: 0px;

}
#showcase h2{
		color: white;
		font-size: 75px;
		padding-top: 15px;
		min-height: 15px;
}
#showcase h3{
		color: #333;
		font-size:30px

}
#showcase li{
	display: inline;
	font-color: yellow;
	list-style: none;
	text-decoration: none;
	display:inline;
}

	#showcase ul{
	font-size: 12px;	
		list-style: none;
		display: inline;
	}
#showcase a{
	color: yellow;
	text-decoration: none;
	font-size: 35px;
	min-height: 30px;
}
.infoo h1{
	font-size: 10px;
	padding-bottom:50px;
  
}
.rev{
	display: inline;
	font-size: 40px;
	font-style: bold;


}

#btn-review {
	font-size: 28px;
	border-radius: 10px;
	background-color: grey;
	font-family: "Adobe Naskh",sans-serif;
	margin-left: 180px;
}
#btn-feed {
	font-size: 28px;
	border-radius: 10px;
	background-color: grey;
	font-family: "Adobe Naskh",sans-serif;
	margin-left: 280px;

}
